#
# This runs a process to watch for a 'power off' button
[Unit]
Description=Shutdown button watching pin 14.
After=syslog.service
[Service]
KillMode=mixed
ExecStart=/usr/local/bin/shutdownwatcher
Type=simple
Restart=always
[Install]
Alias=shut.service

