#
# This runs a process to watch for a 'power off' button
[Unit]
Description=Shutdown button watching pin 14.
After=syslog.service

[Service]
Type=simple
Restart=always
KillMode=mixed
ExecStart=/usr/local/bin/shutdownwatcher

[Install]
Alias=shut.service

